
<div id="app-container">
 <div id= "map">
 </div>

 <!-- this div contains drop down options for configuring feeds -->

 <div id= "feed-config">
   <select class="select">
    <option value="volvo">Candidate Feeds</option>
    <option value="saab">Election Retweets</option>
    <option value="opel">Video Feed</option>
    <option value="opel">Tweet Analytics</option>

  </select>

  <a onclick="toggleHeatmap()" id = "heat" class='button'>Toggle Heatmap</a>
  <a onclick="changeGradient()" class='button'>Change gradient</a>
  <a onclick="changeRadius()" class='button'>Change radius</a>
  <a onclick="changeOpacity()" class='button'>Change opacity</a>
  <a onclick= id="trump" class= 'button'>Trump Stream </a>
</div>


<div id="feed-container">
  <div class= "leftbox">

   <a class="twitter-timeline" href="https://twitter.com/realDonaldTrump" height="340" >Tweets by realDonaldTrump</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

 </div>

 <div class = "rightbox">

   <a class="twitter-timeline" href="https://twitter.com/HillaryClinton" height="340">>Tweets by HillaryClinton</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 </div>
 <div class="practice">APPEND SHIT HERE</div>
</div>





<script type="text/javascript">
  <%@tweet = Tweet.all%>
  <%@tweet.each do |tweet|%>
  setTimeout(function(){
    generateMarker(<%=tweet.long%>,<%=tweet.lat%>);
  }, <%= (1000..100_000).to_a.sample %>);
  <%end%>

  <%@tweet = Tweet.all%>
  <%@tweet.each do |tweet|%>
  setTimeout(function(){
    addPoints(<%=tweet.lat%>,<%=tweet.long%>);
  }, <%= (1000..100_000).to_a.sample %>);
  <%end%>


</script>




