
  <div id="app-container">
   <div id= "map">
   </div>

   <!-- this div contains drop down options for configuring feeds -->

   <div id= "feed-config">
    <select>
      <option value="volvo">Candidate Feeds</option>
      <option value="saab">Election Retweets</option>
      <option value="opel">Video Feed</option>
    </select>
    <button id="heat" onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
  </div>


  <div id="feed-container">
    <div class= "leftbox">
     <h2>TRUMP TWEETS</h2>
     <a class="twitter-timeline" href="https://twitter.com/realDonaldTrump" height="340" >Tweets by realDonaldTrump</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

   </div>

   <div class = "rightbox">
     <h2>CLINTON TWEETS</h2>
     <a class="twitter-timeline" href="https://twitter.com/HillaryClinton" height="340">>Tweets by HillaryClinton</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
 </div>




<script type="text/javascript">
  <%@tweet = Tweet.all%>
  <%@tweet.each do |tweet|%>
  setTimeout(function(){
    generateMarker(<%=tweet.long%>,<%=tweet.lat%>);
  }, <%= (1000..100_000).to_a.sample %>);
  <%end%>

  <%@tweet = Tweet.all%>
  <%@tweet.each do |tweet|%>
  setTimeout(function(){
    addPoints(<%=tweet.lat%>,<%=tweet.long%>);
  }, <%= (1000..100_000).to_a.sample %>);
  <%end%>


</script>




